<div class="creator">
    <form (submit)="submitForm()">
        <p class="form-field"> 
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="theatre.name" name="name" placeholder="Enter theater name" required>
        </p>
        <p class="form-field">
            <label for="street">Street:</label>
            <input type="text" id="street" [(ngModel)]="theatre.street" name="street" placeholder="Enter street" required>
        </p>
        <p class="form-field">
            <label for="area">Area:</label>
            <input type="text" id="area" [(ngModel)]="theatre.area" name="area" placeholder="Enter area" required>
        </p>
        <p class="form-field">
            <label for="city">City:</label>
            <input type="text" id="city" [(ngModel)]="theatre.city" name="city" placeholder="Enter city" required>
        </p>
        <button type="submit" class="create-button">Create Theatre</button>
    </form>
</div>
