<div class="creator">
    <p class="form-field"> 
        <label for="theatreName">Name of Theaters :</label>
        <input type="text" id="theatreName" placeholder="Enter theatre name">
    </p>
    <p class="form-field"> 
        <label for="location">Location :</label>
        <input type="text" id="location" placeholder="Enter location">
    </p>
    <p class="form-field">
        <label for="theatreScreens">Screens :</label>
        <input type="text" id="theatreScreens" placeholder="Enter number of screens">
    </p>
    <p class="form-field">
        <label for="theatreSeats">Seats :</label>
        <input type="seats" id="theatreSeats" placeholder="Enter date">
    </p>
    <p class="form-field">
        <label for="theatreAddress">Rating :</label>
        <input type="text" id="theatreAddress" placeholder="Enter address theatre">
    </p>
    

    <p class="create-button">Create Theatre</p>

</div>