<div class="theatre-card"
    *ngFor="let theatre of theatres"
>
    <div class="theatre">
        <div class="theatre-image">
            <img [src]="theatre.image" alt="">
        </div>
        <div class="theatre-details">
            <p style="font-weight: 700;">Theater Name: {{theatre.name}}</p>
            <p style="font-weight: 500;">Area: {{theatre.location}}</p>
            <p style="font-weight: 500;">Seats: {{theatre.seats}}</p>
        </div>
    </div>
    <div class="buttons">
        <p class="button"> Edit theatre</p>
        <p class="button"> Post theatre</p>
    </div>
</div>