<mat-form-field class="auth-input">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      [formControl]="passwordFormControl"
      [errorStateMatcher]="matcher"
      placeholder="*********"
      (focus)="resetController()"
    />
    <mat-hint>Your password</mat-hint>
    <mat-error>
      {{
        passwordFormControl.hasError("required")
          ? "Password is required"
          : passwordFormControl.hasError("minlength")
          ? "Password must be at least 8 characters long"
          : passwordFormControl.hasError("maxlength")
          ? "Password must be at most 20 characters long"
          : ""
      }}
    </mat-error>
  </mat-form-field>