<div class="creator">
    <p class="form-field"> 
        <label for="movieName">Name :</label>
        <input type="text" id="movieName" placeholder="Enter movie name">
    </p>
    <p class="form-field"> 
        <label for="movieGenre">Genre :</label>
        <input type="text" id="movieGenre" placeholder="Enter Genre">
    </p>
    <p class="form-field"> 
        <label for="movieLanguage">Language :</label>
        <input type="text" id="movieLanguage" placeholder="Enter languages">
    </p>
    <p class="form-field"> 
        <label for="movieTheatre">Theatre :</label>
        <input type="text" id="movieTheatre" placeholder="Enter Theatre">
    </p>
    <p class="form-field"> 
        <label for="movieDate">Date :</label>
        <input type="datetime-local" id="movieDate" placeholder="Enter date">
    </p>
    <p class="form-field"> 
        <label for="movieRating">Rating :</label>
        <input type="text" id="movieRating" placeholder="Enter rating of the movie">
    </p>
    <p class="form-field"> 
        <label for="ticketPrice">Price per Ticket :</label>
        <input type="text" id="ticketPrice" placeholder="Enter price per ticket">
    </p>
    <p class="form-field"> 
        <label for="posterLink">Poster Link :</label>
        <input type="url" id="posterLink" placeholder="Enter poster link of movie">
    </p>

    <p class="create-button">Create Movie</p>

</div>
