:host { 
    display: contents; 
  }
  input{
    outline: none;
  }
  .frame18-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .frame18-frame18 {
    width: 100%;
    height: 900px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame18-overlay6 {
    top: 3px;
    left: 0px;
    width: 1440px;
    height: 900px;
    position: absolute;
  }
  .frame18-image125 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
    position: absolute;
  }
  .frame18-rectangle26 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
    position: absolute;
    content: fit;
  }
  .frame18-frame19 {
    top: 169px;
    left: 270px;
    width: 860px;
    height: 565px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .frame18-group29 {
    top: 0px;
    left: -59px;
    width: 978px;
    height: 591px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame18-avatar8 {
    top: 59px;
    left: 80px;
    width: 180px;
    height: 180px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 90px;
    background-color: rgba(255, 175, 175, 1);
  }
  .frame18-rectangle {
    top: 0px;
    left: 0px;
    width: 180px;
    height: 180px;
    position: absolute;
  }
  .frame18-button11 {
    top: 498px;
    left: 695px;
    width: 69px;
    height: 36px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text {
    top: 7px;
    left: 12px;
    color: rgba(144, 149, 160, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textbox5 {
    top: 59px;
    left: 314px;
    width: 584px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-textfield {
    top: 23px;
    left: 0px;
    width: 583px;
    height: 35px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(86, 94, 108, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text02 {
    top: 7px;
    left: 12px;
    color: rgba(188, 193, 202, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-text04 {
    color: rgba(167, 173, 183, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Rubik;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textarea1 {
    top: 359px;
    left: 314px;
    width: 584px;
    height: 95px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text06 {
    color: rgba(167, 173, 183, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Rubik;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textfield1 {
    top: 23px;
    left: 0px;
    width: 583px;
    height: 71px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(86, 94, 108, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text08 {
    top: 7px;
    left: 12px;
    color: rgba(188, 193, 202, 1);
    width: 554px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-resizinghandle {
    top: 57px;
    left: 569px;
    width: 12px;
    height: 12px;
    position: absolute;
  }
  .frame18-textbox6 {
    top: 134px;
    left: 314px;
    width: 584px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text10 {
    color: rgba(167, 173, 183, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Rubik;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textfield2 {
    top: 23px;
    left: 0px;
    width: 583px;
    height: 35px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(86, 94, 108, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text12 {
    top: 7px;
    left: 12px;
    color: rgba(188, 193, 202, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textbox7 {
    top: 209px;
    left: 314px;
    width: 584px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text14 {
    color: rgba(167, 173, 183, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Rubik;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textfield3 {
    top: 23px;
    left: 0px;
    width: 583px;
    height: 35px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(86, 94, 108, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text16 {
    top: 7px;
    left: 12px;
    color: rgba(188, 193, 202, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textbox8 {
    top: 284px;
    left: 314px;
    width: 584px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text18 {
    color: rgba(167, 173, 183, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Rubik;
    font-weight: 700;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-textfield4 {
    top: 23px;
    left: 0px;
    width: 583px;
    height: 35px;
    display: flex;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(86, 94, 108, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  .frame18-text20 {
    top: 7px;
    left: 12px;
    color: rgba(188, 193, 202, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-chevrondownlarge {
    top: 10px;
    left: 556px;
    width: 16px;
    height: 16px;
    position: absolute;
  }
  .frame18-button12 {
    top: 498px;
    left: 781px;
    width: 117px;
    height: 36px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    background-color: rgba(234, 0, 0, 1);
  }
  .frame18-text22 {
    top: 7px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-icon-button3 {
    top: 217px;
    left: 148px;
    width: 44px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 22px;
    background-color: rgba(66, 73, 85, 1);
  }
  .frame18-camera {
    top: 9px;
    left: 9px;
    width: 26px;
    height: 26px;
    position: absolute;
  }
  .frame18-text24 {
    top: 28px;
    left: 566px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Bold;
    text-align: center;
    font-family: Maven Pro;
    font-weight: 700;
    line-height: 68px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18-text26 {
    top: 96px;
    left: 438px;
    color: rgba(241, 244, 253, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Light;
    text-align: center;
    font-family: Rubik;
    font-weight: 300;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }