<div class="frame18-container">
    <div class="frame18-frame18">
        <img src="../../assets/external/overlay63963-0py-1500w.png" alt="Overlay63963" class="frame18-overlay6" />
        <img src="../../assets/external/image1253962-jfy-1500w.png" alt="Image1253962" class="frame18-image125" />
        <img src="../../assets/external/rectangle263912-fy1-1500w.png" alt="Rectangle263912"
            class="frame18-rectangle26" />
        <div class="frame18-frame19">
            <div class="frame18-group29">
                <div class="frame18-avatar8">
                    <img src="../../assets/external/rectangle3984-88o-200h.png" alt="Rectangle3984"
                        class="frame18-rectangle" />
                </div>
                <button class="frame18-button11">
                    <span class="frame18-text"><span>Cancel</span></span>
                </button>
                <div class="frame18-textbox5">

                    <input class="frame18-textfield" type="text" placeholder="Your full name">
                    <span class="frame18-text04"><span>Full name</span></span>
                </div>
                <div class="frame18-textbox6">
                    <span class="frame18-text10"><span>Email</span></span>
                    <input type="text" placeholder="Your email" class="frame18-textfield2">

                </div>
                <div class="frame18-textbox7">
                    <span class="frame18-text14"><span>Password</span></span>
                    <input input type="password" placeholder="Password" class="frame18-textfield3">
                </div>
                <div class="frame18-textbox8">
                    <span class="frame18-text18">Location</span>
                    <input class="frame18-textfield4" input type="text" placeholder="Your City">
                </div>
                <button class="frame18-button12">
                    <span class="frame18-text22"><span>Save profile</span></span>
                </button>
                <button class="frame18-icon-button3">
                    <img src="../../assets/external/camera3911-kkr.svg" alt="Camera3911" class="frame18-camera" />
                </button>
            </div>
        </div>
        <span class="frame18-text24"><span>Your profile</span></span>
        <span class="frame18-text26">
            <span>
                Customize your profile for personalized movie recommendations.
            </span>
        </span>
          
    </div>
</div>