<footer class="fancy-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="../../../assets/cc_logo.svg" />
        CineConnect
      </div>
      <div class="footer-links">
        <a href="#" class="footer-link">Home</a>
        <a href="#" class="footer-link">Movies</a>
        <a href="#" class="footer-link">Theaters</a>
        <a href="#" class="footer-link">About Us</a>
        <a href="#" class="footer-link">Contact</a>
      </div>
    </div>
  </footer>