<div class="frame8-container">
    <div class="frame8-frame8">
      <img
        alt="Rectangle213818"
        src="../../assets/external/rectangle213818-v6ff-200h.png"
        class="frame8-rectangle21"
      />
      <img
        alt="Rectangle133818"
        src="../../assets/external/rectangle133818-0zzg-300w.png"
        class="frame8-rectangle13"
      />
      <span class="frame8-text"><span>Admin Panel</span></span>
      <a href="" class="frame8-text02">All Shows</a>
      <a href="" class="frame8-text04">Create New Show</a>
      <a href="" class="frame8-text06">Edit Show</a>
      <a href="" class="frame8-text08">Create New Theaters</a>
      <a href="" class="frame8-text10">Edit Theatre</a>
      <input type="search" class="frame8-frame7" placeholder="Search Something">

      <img
        alt="Rectangle143819"
        src="../../assets/external/rectangle143819-hliaq-200h.png"
        class="frame8-rectangle14"
      />
      <button class="frame8-rectangle14">Create New</button>
      <img
        alt="Ellipse43819"
        src="../../assets/external/ellipse43819-9gu7-200h.png"
        class="frame8-ellipse4"
      />
      <span class="frame8-text16"><span>Create Theatres</span></span>
      <a href="" class="frame8-text18">All Theaters</a>
      <span class="frame8-text20">Y</span>
      <span class="frame8-text21"><span>Shows</span></span>
      <span class="frame8-text23"><span>Theatres</span></span>
      <img
        alt="Rectangle153820"
        src="../../assets/external/rectangle153820-b198-700h.png"
        class="frame8-rectangle15"
      />
      <input class="frame8-frame14" type="text" placeholder="Area" style="background: none;">

      <input class="frame8-frame12" type="text" placeholder="City" style="background: none;">

      <span class="frame8-text29"><span>Name:</span></span>
      <input class="frame8-frame9" placeholder="Theatre Name" type="text" style="background:none ;">
      <span class="frame8-text33"><span>Street :</span></span>
      <input class="frame8-frame10" placeholder="Street" type="text" style="background:none ;">
      <img
        alt="Rectangle243822"
        src="../../assets/external/rectangle243822-hpe-200h.png"
        class="frame8-rectangle24"
      />
      <button class="frame8-rectangle24">Create Theatre</button>
      <span class="frame8-text39">
        City :
      </span>
      <span class="frame8-text40"><span>Area :</span></span>
    </div>
  </div>