<div class="bodyCheckout">
  
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>
  
    <div class="container">
      <div class="screen"><img [src]="movieList?.movieBanner" alt=""></div>
  
      <div class="row" *ngFor="let rows of movieList?.seatRows">
        <div class="row-number">
            {{rows.row}}
        </div>
        <div [ngClass]="{
            'occupied2': checkIfOccupied(rows.row, seats),
            'occupied': checkIfPrevOccupied(rows.row, seats)
          }"
          class="seat " (click)="bookSeat(rows.row,seats)" *ngFor="let seats of getSeatArray(rows.noOfSeats)">{{seats}}</div>
      </div>
    </div>
  
    <p class="text">
      <span id="count">{{bookedSeatNo.length}}</span> Tickets:<span
        id="total"
        >{{getPrice()}} {{movieList.currency}}</span
      >
    </p>
    <!-- <script src="script.js"></script> -->
    <script src="script.js"></script>
  </div>