.frame-child {
    border: 0;
    outline: 0;
    background-color: #fffefe;
    position: absolute;
    top: 0;
    left: 0;
    width: 1466.9px;
    height: 993px;
}

.enter-your-email,
.forgot-your-password {
    position: absolute;
    display: flex;
    align-items: center;
}

.forgot-your-password {
    margin: 0;
    top: 356.7px;
    left: 93.7px;
    font-size: inherit;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-family: inherit;
    width: 313px;
    height: 34.7px;
}

.enter-your-email {
    top: 394.6px;
    left: 92.6px;
    font-size: 10.8px;
    letter-spacing: 0.05em;
    color: #07776d;
    white-space: pre-wrap;
    width: 371.4px;
    height: 33.6px;
}

.frame-item {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: absolute;
}

.frame-item {
    background-color: darkcyan;
    top: 554px;
    left: 93.7px;
    width: 230.3px;
    height: 32.5px;
}

.reset-password {
    background-color: transparent;
    top: 557.2px;
    left: 164.2px;
    font-size: 9.8px;
    letter-spacing: 0.05em;
    font-family: var(--font-inter);
    text-align: left;
    display: flex;
    align-items: center;
    width: 89.3px;
    height: 24.9px;
}

.reset-password,
.span {
    color: var(--color-white);
}

.sign-up {
    color: var(--color-darkcyan);
}

.dont-have-an-container1 {
    width: 100%;
}

.dont-have-an-container {
    text-decoration: none;
    position: absolute;
    top: 619px;
    left: 93.7px;
    font-size: 11.9px;
    display: flex;
    align-items: center;
    width: 184px;
    height: 13px;
    color: inherit;
}

.frame-inner {
    position: absolute;
    top: 0;
    left: 711px;
    width: 756px;
    height: 750px;
    object-fit: cover;
}

.rectangle-parent,
.your-email {
    text-align: left;
    color: var(--color-black);
    font-family: var(--font-inter);
}

.your-email {
    border: 1px solid #ccc; /* Add outline */
    outline: 0;
    font-size: 9px;
    background-color: transparent;
    position: absolute;
    top: 467px;
    left: 97.6px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    width: 200px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    padding: 5px; /* Add padding */
}

.rectangle-parent {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: calc(100vh);
    overflow-y: scroll; /* Make the page scrollable from the top */
    font-size: 21.7px;
}
