<div class="rectangle-parent">
    <h6 class="forgot-your-password">Forgot your password ?</h6>
    <span class="enter-your-email">Enter your email below to receive a password reset link</span>
    <input class="your-email" type="email" placeholder="Your email" />
    <button class="frame-item">Reset password</button>
    <a class="dont-have-an-container">
        <span class="dont-have-an-container1">
            <span>Don’t have an account?</span>
            <span class="sign-up"> Sign up</span>
        </span>
    </a>
    <!-- <img class="frame-inner" src="../../assets/rectangle-5@2x.png"/> -->
</div>
