<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="email" name="email" placeholder="Enter Email">
        <br>
        <span >this email is invalid</span>
    </form>
</body>

<script>
    const email = document.querySelector('#email')
    email.addEventListener('onfocus',(data)=>{
        let emailregex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
        if( emailregex.test(data) ){
            // const 
        }
    })
</script>

</html>