<div class="movie-card"
    *ngFor="let movie of movies"
>
    <div class="movie">
        <div class="movie-image">
            <img [src]="movie.image" alt="">
        </div>
        <div class="movie-details">
            <p style="font-weight: 700;">{{movie.name}}</p>
            <p style="font-weight: 500;">{{movie.location}}</p>
            <p style="font-weight: 500;">{{movie.price}}</p>
        </div>
    </div>
    <div class="buttons">
        <p class="button"> Edit Movie</p>
        <p class="button"> Post Movie</p>
    </div>
</div>
