
<div class="left-footer">
    <h1>Register</h1>
    <div class="left-footer-bottom" id="left-footer-bottom">
      <form class="password-frame">
        <app-email-input></app-email-input>
        <app-password-input></app-password-input>
        <app-username-input></app-username-input>
        <button class="new-user-registration">
          <div class="new-user-type" id="newUserType"></div>
          <b class="sign-in">Create my Account</b>
        </button>
        <div class="bottom-text">
            <div class="dont-have-an">Already have an Account?</div>
                <a href="/signin">
                    <div class="register-as-buyer1" id="registerAsBuyer">
                        Sign-In
                      </div>
                </a>
        </div>
      </form>
    </div>
  </div>