
<div class="left-footer">
    <h1>Log In</h1>
    <div class="left-footer-bottom" id="left-footer-bottom">
      <form class="password-frame">
        <app-email-input></app-email-input>
        <app-password-input class="password-section"></app-password-input>
        <div class="forgot-password">Forgot Password?</div>
        <button (click)="signin()" class="new-user-registration">
          <div class="new-user-type" id="newUserType"></div>
          <b class="sign-in">Sign in</b>
        </button>
        <div class="new-user-registration1">
          <div class="existing-user-prompt">
            <div class="register">
              <div class="register-as-buyer">
                <div class="dont-have-an">Don't have an account yet?</div>
                <a href="/signup">
                    <div class="register-as-buyer1" id="registerAsBuyer">
                        Create an account
                      </div>
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>