<div class="ticket created-by-anniedotexe">
    <div class="left">
        <div class="image">
            <p class="admit-one">
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
            </p>
            <div class="ticket-number">
                <p>#20231304</p>
            </div>
        </div>
        <div class="ticket-info">
            <p class="date">
                <span>EMPIRE</span>
                <span class="nov-10">JUNE 2024</span>
                <span>ISSUE</span>
            </p>
            <div class="show-name">
                <h1>CineConnect</h1>
                <h2>MOVIE NAME</h2>
                <h3>feat. Umesh Shelare</h3>
            </div>
            <div class="time">
                <p>12:49 PM <span>TO</span> TBD</p>
            </div>
            <div class="tagline">
                <p>IN THIS LIFE OR THE NEXT</p>
            </div>
            <p class="location">
                <span>THE CAT'S CRADLE</span>
                <span class="separator"><i class="fas fa-cross"></i></span>
                <span>ANDALUCÍA, SPAIN</span>
            </p>
        </div>
    </div>
    <div class="right">
        <p class="admit-one">
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
        </p>
        <div class="right-info-container">
            <div class="show-name">
                <h1>#SaveWarriorNun</h1>
            </div>
            <div class="time">
                <p>13.04.2023</p>
                <p>12:49 PM <span>TO</span> TBD</p>
            </div>
            <div class="barcode">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://example.com" alt="QR code">
            </div>
            <p class="ticket-number">#20231304</p>
        </div>
    </div>
</div>
