<div style="margin-top: 20px;" class="ticket created-by-anniedotexe">
    <div class="left">
        <div class="image">
            <img  src={{movie.imageUrl}}>
            <p class="admit-one">
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
            </p>
            <div class="ticket-number">
                <p>#{{ ticketData.ticketNumber }}</p>
            </div>
        </div>
        <div class="ticket-info">
            <p class="date">
                <span>{{ ticketData.venue }}</span>
                <span class="nov-10">{{ ticketData.date }}</span>
                <span>ISSUE</span>
            </p>
            <div class="show-name">
                <h1>CineConnect</h1>
                <h2>{{movie.name}}</h2>
                <h3>{{username}}</h3>
            </div>
            <div class="time">
                <p>{{ ticketData.startTime }} <span>TO</span> {{ ticketData.endTime }}</p>
            </div>
            <div class="tagline">
                <p>{{ ticketData.tagline }}</p>
            </div>
            <p class="location">
                <span>Avenue</span>
                <span class="separator"><i class="fas fa-cross"></i></span>
                <span>HYDERABAD, INDIA</span>
            </p>
        </div>
    </div>
    <!-- Right side -->
    <div class="right">
        <p class="admit-one">
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
        </p>
        <div class="right-info-container">
            <div class="show-name">
                <h1>#{{ ticketData.event }}</h1>
            </div>
            <div class="time">
                <p>13.04.2023</p>
            </div>
            <div class="barcode">
                <div>
                    <qrcode [qrdata]="bookingDetails"></qrcode>
                  </div>
            </div>
        </div>
    </div>
</div>
