<div class="ticket created-by-anniedotexe">
    <!-- Left side -->
    <div class="left">
        <div class="image">
            <p class="admit-one">
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
            </p>
            <div class="ticket-number">
                <p>#{{ ticketData.ticketNumber }}</p>
            </div>
        </div>
        <div class="ticket-info">
            <p class="date">
                <span>{{ ticketData.venue }}</span>
                <span class="nov-10">{{ ticketData.date }}</span>
                <span>ISSUE</span>
            </p>
            <div class="show-name">
                <h1>{{ ticketData.event }}</h1>
                <h2>{{ ticketData.movieName }}</h2>
                <h3>feat. {{ ticketData.featArtist }}</h3>
            </div>
            <div class="time">
                <p>{{ ticketData.startTime }} <span>TO</span> {{ ticketData.endTime }}</p>
            </div>
            <div class="tagline">
                <p>{{ ticketData.tagline }}</p>
            </div>
            <p class="location">
                <span>{{ ticketData.location }}</span>
                <span class="separator"><i class="fas fa-cross"></i></span>
                <span>{{ ticketData.city }}</span>
            </p>
        </div>
    </div>
    <!-- Right side -->
    <div class="right">
        <p class="admit-one">
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
        </p>
        <div class="right-info-container">
            <div class="show-name">
                <h1>#{{ ticketData.event }}</h1>
            </div>
            <div class="time">
                <p>{{ ticketData.date }}</p>
                <p>{{ ticketData.startTime }} <span>TO</span> {{ ticketData.endTime }}</p>
            </div>
            <div class="barcode">
                <img [src]="ticketData.qrCodeUrl" alt="QR code">
            </div>
            <p class="ticket-number">#{{ ticketData.ticketNumber }}</p>
        </div>
    </div>
</div>
