<div class="forgot-password-container">
  <div class="forgot-password-forgot-password">
    <span class="forgot-password-text"><span>No Worries.!!</span></span>
    <div class="forgot-password-frame1">
      <span class="forgot-password-text02"><span>Take me back.!</span></span>
    </div>
    <img src="/assets/external/ellipse11122-7dix-400h.png" alt="Ellipse11122" class="forgot-password-ellipse1" />
    <img src="/assets/external/ellipse21123-vx4-300h.png" alt="Ellipse21123" class="forgot-password-ellipse2" />
    <div class="forgot-password-frame2">
      <div class="forgot-password-frame5">
        <div class="forgot-password-frame4">
          <div class="forgot-password-upper-section">
            <div class="forgot-password-logintext">
              <span class="forgot-password-text04">
                <span>Forgot Password ?</span>
              </span>
              <span class="forgot-password-text06">
                <span>Please enter you’re email</span>
              </span>
            </div>
            <form [formGroup] ="emailForm">
              <div class="forgot-password-credentials">
                <br>
                <input class="forgot-password-username" type="email" placeholder="Email" formControlName="email"
                  (blur)="onBlur('email')" (focus)="onFocus('email')" style="color: white;">
                <div
                  *ngIf=" !emailInputFocused && emailForm.controls.email.touched && emailForm.controls.email.errors?.['required']">
                  Email is required.</div>
                <div
                  *ngIf=" !emailInputFocused && emailForm.controls.email.touched && emailForm.controls.email.errors?.['email']">
                  Email is not valid.</div>
                <div
                  *ngIf=" !emailInputFocused && emailForm.controls.email.touched && emailForm.controls.email.errors?.['pattern']">
                  No domain provided.</div>
              </div>
            </form>
            <div class="forgot-password-loginbt-fp">
              <button class="forgot-password-login">Reset Password
              </button>
            </div>
          </div>
        </div>
        <div class="forgot-password-frame10">
          <span class="forgot-password-text12">
            <a href=""><span>Don’t have an account ? Signup</span></a>
          </span>
          <div class="forgot-password-customercare">
            <div class="forgot-password-frame6">
              <span class="forgot-password-text14">
                <span>Terms &amp; Conditions</span>
              </span>
            </div>
            <div class="forgot-password-frame7">
              <span class="forgot-password-text16"><span>Support</span></span>
            </div>
            <div class="forgot-password-frame8">
              <span class="forgot-password-text18">
                <span>Customer Care</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="/assets/external/line31171-trd.svg" alt="Line31171" class="forgot-password-line3" />
  </div>
</div>