:host { 
    display: contents; 
  }
  .forgot-password-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .forgot-password-forgot-password {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(153, 102, 102, 1);
  }
  .forgot-password-text {
    top: 381px;
    left: 60px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 96px;
    font-style: SemiBold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame1 {
    gap: 10px;
    top: 512px;
    left: 73px;
    width: 255px;
    display: flex;
    padding: 14px 24px;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 4px;
  }
  .forgot-password-text02 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-ellipse1 {
    top: 62px;
    left: 798px;
    width: 302px;
    height: 302px;
    position: absolute;
  }
  .forgot-password-ellipse2 {
    top: 832.9749755859375px;
    left: 1142px;
    width: 220px;
    height: 220px;
    position: absolute;
  }
  .forgot-password-frame2 {
    top: 114px;
    left: 900px;
    width: 480px;
    height: 796px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.23999999463558197) ;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: var(--dl-color-default-glass1fillcarey);
  }
  .forgot-password-frame5 {
    gap: 372px;
    top: 97px;
    left: 40px;
    width: 400px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  .forgot-password-frame4 {
    gap: 47px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .forgot-password-upper-section {
    gap: 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .forgot-password-logintext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .forgot-password-text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 36px;
    font-style: SemiBold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-credentials {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .forgot-password-username {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background: none;
  }
  .forgot-password-text08 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-loginbt-fp {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .forgot-password-login {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 10px;
    background: linear-gradient(142deg, rgba(232, 71, 197, 1) 0%, rgba(205, 64, 123, 1) 53%, rgba(116, 3, 44, 1) 100%);
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    justify-content: center;
  }
  .forgot-password-text10 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame10 {
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .forgot-password-text12 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-customercare {
    gap: 31px;
    width: 400px;
    display: flex;
    padding: 4px 6px;
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.5) 0%, rgba(97, 97, 97, 0.5) 100%);
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    justify-content: space-between;
  }
  .forgot-password-frame6 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .forgot-password-text14 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame7 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .forgot-password-text16 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame8 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .forgot-password-text18 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-line3 {
    top: 550px;
    left: 337px;
    width: 554px;
    height: 1px;
    position: absolute;
  }
  