<app-navbar></app-navbar>

<div class="bookseatmainbody1">
  <div class="bookseatmainbody">
    <div class="right-part">
      <div class="text-right">
        Movie :
        <div class="text-right-value">
          {{ movie.name }}
        </div>
      </div>
      <app-movie-seat-booking
        [bookedTickets]="bookedTickets"
        #childComponent
      ></app-movie-seat-booking>
    </div>

    <div class="left-part">
      <app-movie-card [movie]="movie"></app-movie-card>
      <app-payment-component></app-payment-component>
    </div>
  </div>
</div>
