.pagenotfoundcomponent{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.pnfcontent{
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.textpnf{
    font-size: 5em;
    margin: 50px;
    color: red;
}