<app-navbar></app-navbar>
<div
    style="display: flex; align-items: center;flex-direction: column;"
>
    <div class="poster">
        <img src="https://cdn.pixabay.com/photo/2016/03/07/00/00/cinema-1241422_1280.jpg" alt="">
    </div>
    <div class="details">
        <div class="features">
            <span>Movie Name</span>|<span>Rating</span>|<span>Year Released</span>
        </div>
        <h6>Theater</h6>
        <h5>About the movie</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus tempora veritatis cumque quas nulla nisi similique blanditiis ipsam, hic cum, sed repellat possimus porro vero aspernatur voluptatibus quidem quam.</p>
        <button>Book Now</button>
    </div>
</div>