<app-navbar></app-navbar>
<div class="movie-details-container">
  <div *ngIf="movie" class="movie-details">
    <div class="poster">
      <img [src]="movie.imageUrl" alt="{{ movie.name }}" class="movie-image" />
    </div>
    <div class="details">
      <div class="title">{{ movie.name }}</div>
      <div class="features">
        <span class="info">Rating:</span
        ><span class="rating">{{ movie.rating }}</span> <br /><span class="info"
          >Year of Release:</span
        ><span class="year">{{ movie.year }}</span>
      </div>
      <h6>Theater : Avenue</h6>
      <hr />
      <h5>About the movie</h5>
      <p>{{ movie.description }}</p>
      <button (click)="navigateToBookSeat(movie)" class="book-now-btn">Book Now</button>
    </div>
  </div>
</div>
