<app-navbar></app-navbar>
<div
    style="display: flex; align-items: center;flex-direction: column;"
>
    <div class="poster">
        <img src="https://m.media-amazon.com/images/M/MV5BNDlkMDQ1NzUtNGE3OC00NmUwLWI0NjAtNDJmODUzY2NhOGIzL2ltYWdlXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX300.jpg" alt="">
    </div>
    <div class="details">
        <div class="features">
            <span>Movie Name</span>|<span>Rating</span>|<span>Year Released</span>
        </div>
        <h6>Theater</h6>
        <h5>About the movie</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus tempora veritatis cumque quas nulla nisi similique blanditiis ipsam, hic cum, sed repellat possimus porro vero aspernatur voluptatibus quidem quam.</p>
        <button routerLink="/bookseats">Book Now</button>
    </div>
</div>