.admin-left-sidebar{
    height:  650px;
    width: 280px;
    /* border-radius: 10px; */
    background-color:  #242537;
    color : #edf2f4;
    padding: 10px;
    padding-left:20px;
    font-family: 'karla';
}

.list-group{
    margin: 25px;
}

h4{
    padding: 5px 10px;
    border-radius: 4px;
    
    transition: transform 0.1s ease;
}

h4:hover{   
    background-color: #7a8699;
    /* transform: scale(1.1); */
}