:host { 
    display: contents; 
  }
  .signup-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .signup-signup {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(153, 102, 102, 1);
  }
  .signup-text {
    top: 381px;
    left: 60px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 96px;
    font-style: SemiBold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-frame1 {
    gap: 10px;
    top: 512px;
    left: 73px;
    width: 236px;
    display: flex;
    padding: 14px 24px;
    position: absolute;
    box-sizing: content-box;
    align-items: flex-start;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 4px;
  }
  .signup-text02 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-ellipse1 {
    top: 60px;
    left: 795px;
    width: 302px;
    height: 302px;
    position: absolute;
  }
  .signup-ellipse2 {
    top: 802.9749755859375px;
    left: 1149px;
    width: 220px;
    height: 220px;
    position: absolute;
  }
  .signup-frame2 {
    top: 114px;
    left: 900px;
    width: 480px;
    height: 796px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.23999999463558197) ;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: var(--dl-color-default-glass1fillcarey);
  }
  .signup-frame5 {
    gap: 53px;
    top: 97px;
    left: 40px;
    width: 400px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  .signup-frame4 {
    gap: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-upper-section {
    gap: 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-logintext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 36px;
    font-style: SemiBold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-credentials {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-username {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background : none;
  }
  .signup-text08 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-email {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background: none;
  }
  .signup-text10 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-password-rem {
    gap: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-password {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background: none;
  }
  .signup-text12 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-password1 {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background: none;
  }
  .signup-text14 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-loginbt-fp {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .signup-login {
    gap: 10px;
    width: 400px;
    display: flex;
    padding: 14px 10px;
    background: linear-gradient(142deg, rgba(45, 76, 238, 1) 0%, rgba(33, 30, 191, 1) 53%, rgba(3, 15, 116, 1) 100%);
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    justify-content: center;
  }
  .signup-text16 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-otherlogins {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .signup-or {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  .signup-line1 {
    width: 170px;
    height: 1px;
  }
  .signup-text18 {
    color: rgba(76, 76, 76, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-line2 {
    width: 170px;
    height: 1px;
  }
  .signup-frame3 {
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup-devicongoogle {
    width: 42px;
    height: 42px;
  }
  .signup-logosfacebook {
    width: 42px;
    height: 42px;
  }
  .signup-bigithub {
    width: 42px;
    height: 42px;
  }
  .signup-frame9 {
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .signup-text20 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-customercare {
    gap: 31px;
    width: 400px;
    display: flex;
    padding: 4px 6px;
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.14000000059604645) 0%, rgba(97, 97, 97, 0.14000000059604645) 100%);
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    justify-content: space-between;
  }
  .signup-frame6 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .signup-text22 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-frame7 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .signup-text24 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-frame8 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }
  .signup-text26 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signup-line3 {
    top: 550px;
    left: 316px;
    width: 575px;
    height: 1px;
    position: absolute;
  }
  