<div class="creator">
  <form (submit)="onSubmit()">
    <p class="form-field">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Enter movie name" required>
    </p>
    <p class="form-field">
      <label for="theatre_id">Theatre ID:</label>
      <input type="text" id="theatre_id" [(ngModel)]="theatre_id" name="theatre_id" placeholder="Enter theatre ID" required>
    </p>
    <p class="form-field">
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="description" name="description" placeholder="Enter description"></textarea>
    </p>
    <p class="form-field">
      <label for="IMG">IMG URL:</label>
      <input type="text" id="IMG" [(ngModel)]="IMG" name="IMG" placeholder="image url" required>
    </p>
    <p class="form-field">
      <label for="screen">Screen:</label>
      <input type="text" id="screen" [(ngModel)]="screen" name="screen" placeholder="Enter screen" required>
    </p>
    <p class="form-field">
      <label for="language">Language:</label>
      <input type="text" id="language" [(ngModel)]="language" name="language" placeholder="Enter language" required>
    </p>
    <p class="form-field">
      <label for="genre">Genre:</label>
      <input type="text" id="genre" [(ngModel)]="genre" name="genre" placeholder="Enter genre" required>
    </p>
    <p class="form-field">
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="price" name="price" placeholder="Enter price" required>
    </p>
    <p class="form-field">
      <label for="ratings">Ratings:</label>
      <input type="number" id="ratings" [(ngModel)]="ratings" name="ratings" placeholder="Enter ratings" required>
    </p>
    <p class="form-field">
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="date" name="date" placeholder="Enter date" required>
    </p>
    <p class="form-field">
      <label for="availableSeats">Available Seats:</label>
      <input type="number" id="availableSeats" [(ngModel)]="availableSeats" name="availableSeats" placeholder="Enter available seats">
    </p>
    <p class="form-field">
      <label for="pgRating">PG Rating:</label>
      <select id="pgRating" [(ngModel)]="pgRating" name="pgRating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
      </select>
    </p>
    <button type="submit" class="create-button">Create Movie</button>
  </form>
</div>
