<!-- movie-card.component.html -->

<div class="movie-card" *ngFor="let movie of movies">
  <div class="movie">
    <div class="movie-image">
      <img [src]="movie.IMG" alt="" />
    </div>
    <div class="movie-details">
      <p style="font-weight: 700">{{ movie.name }}</p>
      <p style="font-weight: 500">{{ movie.theatre_id }}</p>
      <p style="font-weight: 500">{{ movie.price }}</p>
    </div>
  </div>
  <div class="buttons">
    <p class="button" (click)="navigateTo(movie)">Edit Movie</p>
    <p class="button">Post Movie</p>
  </div>
</div>
