<div class="frame7-container">
    <div class="frame7-frame7">
      <img
        alt="Rectangle213595"
        src="../../assets/external/rectangle213595-dnazd-200h.png"
        class="frame7-rectangle21"
      />
      <img
        alt="Rectangle133510"
        src="../../assets/external/rectangle133510-xtcs-300w.png"
        class="frame7-rectangle13"
      />
      <span class="frame7-text"><span>Admin Panel</span></span>
      <a href="" class="frame7-text02">All Shows</a>
      <a href="" class="frame7-text04">Create New Show</a>
      <a href="" class="frame7-text06">Edit Show</a>
      <a href="" class="frame7-text08">Create New Theaters</a>
      <a href="" class="frame7-text10">Edit Theatre</a>
      <input type="search" class="frame7-frame71" placeholder="Search Something">
      <img
        alt="Rectangle143511"
        src="../../assets/external/rectangle143511-g8ni-200h.png"
        class="frame7-rectangle14"
      />
      <button class="frame7-rectangle14">Create New</button>
      <img
        alt="Ellipse43511"
        src="../../assets/external/ellipse43511-n4nd-200h.png"
        class="frame7-ellipse4"
      />
      <span class="frame7-text16"><span>Manage Shows</span></span>
      <a href=" " class="frame7-text18">AllTheaters</a>
      <span class="frame7-text20">Y</span>
      <span class="frame7-text21"><span>Shows</span></span>
      <span class="frame7-text23"><span>Theatres</span></span>
      <img
        alt="Rectangle153594"
        src="../../assets/external/rectangle153594-nkw6-700h.png"
        class="frame7-rectangle15"
      />
      <span class="frame7-text25"><span>Poster Link</span></span>
      <input type="text" class="frame7-frame15" placeholder="Link to Poster" style="background: none;">
      
      <span class="frame7-text29"><span>Date</span></span>
      <input type="date" class="frame7-frame14" placeholder="Date" style="background: none;">
      <span class="frame7-text33"><span>Price per Ticket</span></span>
      <input type="number" class="frame7-frame13" placeholder="Price in Rupees" style="background: none;" min="0">
      <span class="frame7-text37">
        <span>
          Rating :
        </span>
      </span>
      <input class="frame7-frame12" placeholder="Rating" type="number" style="background: none;" min="0" step="0.2">
      <span class="frame7-text41"><span>Languages</span></span>
      <input class="frame7-frame11" placeholder="English/Hindi/Tamil/Telugu" type="text" style="background: none;">
      <span class="frame7-text45"><span>Name of Movie :</span></span>
      <input class="frame7-frame9" placeholder="Movie Name" type="text" style="background: none;">
      <span class="frame7-text49"><span>Genre :</span></span>
      <input class="frame7-frame10" placeholder="Genre" type="text" style="background: none;">

      <img
        alt="Rectangle243517"
        src="../../assets/external/rectangle243517-y8pc-200h.png"
        class="frame7-rectangle24"
      />
      <button class="frame7-rectangle24" style="background: none;">Create Movie</button>
    </div>
  </div>