:host { 
    display: contents; 
  }
  .frame7-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .frame7-frame7 {
    width: 100%;
    height: 900px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: radial-gradient(circle at right, rgb(189, 195, 199) 0.00%,rgb(171, 165, 221) 100.00%);
  }
  .frame7-rectangle21 {
    top: 9px;
    left: 296px;
    width: 1114px;
    height: 107px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .frame7-rectangle13 {
    top: 14px;
    left: 14px;
    width: 274px;
    height: 866px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 32px;
  }
  .frame7-text {
    top: 35px;
    left: 36px;
    color: rgba(0, 0, 0, 1);
    width: 162px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Black;
    text-align: left;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text02 {
    top: 130px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 93px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text04 {
    top: 175px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text06 {
    top: 215px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text08 {
    top: 356px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 210px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text10 {
    top: 396px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame71 {
    gap: 10px;
    top: 43px;
    left: 328px;
    width: 317px;
    display: flex;
    padding: 10px;
    position: absolute;
    box-sizing: content-box;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
  }
  .frame7-text12 {
    color: rgba(0, 0, 0, 1);
    width: 299px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-rectangle14 {
    top: 35px;
    left: 1090px;
    width: 110px;
    height: 55px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }
  .frame7-text14 {
    top: 56px;
    left: 1109px;
    color: rgba(0, 0, 0, 1);
    width: 72px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-ellipse4 {
    top: 39px;
    left: 1341px;
    width: 48px;
    height: 48px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame7-text16 {
    top: 139px;
    left: 327px;
    color: rgba(0, 0, 0, 1);
    width: 309px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text18 {
    top: 311px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    width: 93px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text20 {
    top: 45px;
    left: 1355px;
    color: rgba(0, 0, 0, 1);
    width: 25px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text21 {
    top: 85px;
    left: 36px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text23 {
    top: 266px;
    left: 36px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-rectangle15 {
    top: 205px;
    left: 313px;
    width: 1097px;
    height: 674px;
    position: absolute;
    border-color: rgba(249, 249, 249, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }
  .frame7-text25 {
    top: 625px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame15 {
    gap: 10px;
    top: 616px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 184px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text27 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text29 {
    top: 439px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame14 {
    gap: 10px;
    top: 430px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 355px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text31 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text33 {
    top: 559px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame13 {
    gap: 10px;
    top: 550px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 326px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text35 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text37 {
    top: 500px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame12 {
    gap: 10px;
    top: 491px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 412px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text39 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text41 {
    top: 380px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame11 {
    gap: 10px;
    top: 371px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 369px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text43 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text45 {
    top: 269px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame9 {
    gap: 10px;
    top: 260px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 355px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text47 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text49 {
    top: 319px;
    left: 362px;
    color: rgba(0, 0, 0, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-frame10 {
    gap: 10px;
    top: 310px;
    left: 552px;
    width: 493px;
    height: 43px;
    display: flex;
    padding: 10px 415px 10px 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(197, 196, 198, 1);
    border-style: solid;
    border-width: 0.5px;
    justify-content: center;
  }
  .frame7-text51 {
    color: rgba(181, 180, 180, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-rectangle24 {
    top: 810px;
    left: 1137px;
    width: 230px;
    height: 40px;
    opacity: 0.52;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }
  .frame7-text53 {
    top: 818px;
    left: 1164px;
    color: rgba(0, 0, 0, 1);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }