<div class="frame6-container">
  <div class="frame6-frame6">
    <img alt="Rectangle153419" src="../../assets/external/rectangle153419-trz-700h.png" class="frame6-rectangle15" />
    <img alt="Rectangle213468" src="../../assets/external/rectangle213468-tohe-200h.png" class="frame6-rectangle21" />
    <img alt="Line33432" src="../../assets/external/line33432-wj2s.svg" class="frame6-line3" />
    <img alt="Line43433" src="../../assets/external/line43433-euo8.svg" class="frame6-line4" />
    <img alt="Rectangle173434" src="../../assets/external/rectangle173434-0i6f-200h.png" class="frame6-rectangle17" />
    <span class="frame6-text"><span>DUNE</span></span>
    <span class="frame6-text02"><span>Cineplex Hyderabd</span></span>
    <span class="frame6-text04"><span>Movies</span></span>
    <span class="frame6-text06"><span>$ 12.99</span></span>
    <img alt="Line53439" src="../../assets/external/line53439-bw0g.svg" class="frame6-line5" />
    <img alt="Rectangle183441" src="../../assets/external/rectangle183441-t1d6-200h.png" class="frame6-rectangle18" />
    <span class="frame6-text08"><span>DUNE</span></span>
    <span class="frame6-text10"><span>Cineplex Hyderabd</span></span>
    <span class="frame6-text12"><span>$ 12.99</span></span>
    <img alt="Rectangle13332" src="../../assets/external/rectangle13332-id85-300w.png" class="frame6-rectangle13" />
    <span class="frame6-text14"><span>Admin Panel</span></span>
    <a class="frame6-text16">All Shows</a>
    <a class="frame6-text18">Create New Show</a>
    <a class="frame6-text20">Edit Show</a>
    <a class="frame6-text22">Create New Theaters</a>
    <a class="frame6-text24">Edit Theatre</a>
    <button class="frame6-frame7">
      Search Something
    </button>
    <!-- <img alt="Rectangle143412" src="../../assets/external/rectangle143412-t16h-200h.png" class="frame6-rectangle14" /> -->
    <button class="frame6-rectangle14">Create New</button>
    <img alt="Ellipse43414" src="../../assets/external/ellipse43414-cfx2o-200h.png" class="frame6-ellipse4" />
    <span class="frame6-text30"><span>Manage Shows</span></span>
    <a class="frame6-text32">All Theaters</a>
    <span class="frame6-text34"><span>DUNE</span></span>
    <span class="frame6-text36"><span>Cineplex Hyderabd</span></span>
    <span class="frame6-text38"><span>$ 12.99</span></span>
    <span class="frame6-text40"><span>Movies</span></span>
    <button class="frame6-frame8">
      Search Something
    </button>
    <img alt="Line23428" src="../../assets/external/line23428-nian.svg" class="frame6-line2" />
    <img alt="Rectangle163424" src="../../assets/external/rectangle163424-c4kg-200h.png" class="frame6-rectangle16" />
    <span class="frame6-text44"><span>DUNE</span></span>
    <span class="frame6-text46"><span>Cineplex Hyderabd</span></span>
    <span class="frame6-text48"><span>Movies</span></span>
    <span class="frame6-text50"><span>$ 12.99</span></span>
    <img alt="Rectangle193448" src="../../assets/external/rectangle193448-qaa-200h.png" class="frame6-rectangle19" />
    <img alt="Rectangle223570" src="../../assets/external/rectangle223570-i5cd-200h.png" class="frame6-rectangle22" />
    <img alt="Rectangle233571" src="../../assets/external/rectangle233571-23tj-200h.png" class="frame6-rectangle23" />
    <span class="frame6-text52"><span>Price</span></span>
    <button class="frame6-group2">
      Edit
    </button>
    <div class="frame6-group3">
      <button class="frame6-rectangle20">Edit</button>
      <div class="frame6-group21">
        <button class="frame6-rectangle201">Edit</button>

        
        <button class="frame6-group22">
          Edit
        </button>
      </div>
    </div>
    <span class="frame6-text65">Y</span>
    <span class="frame6-text66"><span>Shows</span></span>
    <span class="frame6-text68"><span>Theatres</span></span>
      
  </div>
</div>