<div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <div class="div-4">
            <div class="div-5">Name of Movie :</div>
            <div class="div-6">Genre :</div>
            <div class="div-7">Languages</div>
            <div class="div-8">Date</div>
            <div class="div-9">Rating :</div>
            <div class="div-10">Price per Ticket</div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-11">
            <div class="div-12">Movie Name</div>
            <div class="div-13">Genre</div>
            <div class="div-14">Languages</div>
            <div class="div-15">Movie Date</div>
            <div class="div-16">Rating</div>
            <div class="div-17">Price in Rupees</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-18">
      <div class="div-19">Poster Link</div>
      <div class="div-20">Link to the poster of the movie</div>
    </div>
    <div class="div-21">Create This Movie</div>
  </div>